<div class="panel-body">
  <div class="row no-marginb">
    <div class="form-group col-md-12 no-marginb">
      <%= text_field_tag "#{param_prefix}[preferred_amount]", service_fee_rule.preferred_amount, class: 'form-control marginb' %>
    </div>
  </div>
</div>
